body {
  text-align: center;
  background-color: #282c34;
}
.home {
  padding: 0 10px;
}
.goods {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
.shop-card {
  max-width: 300px;
  border-width: 5px;
  border-style: solid;
  border-color: white;
}

.card-active {
  border-color: coral;
}
.card-body{
  display: flex;
  flex-direction: column;
}

.card-btn{
  margin-top: auto;
}
